<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      body {
        background-color: #fefcf9;
      }
      .entry {
        border-color: #E6ECF0;
        border-style: solid;
        border-width: 1px;
        background-color: white;
        padding-top: 10px;
      }
      .feedTitle {
        border-bottom: 5px solid #E6ECF0;
      }
      .date {
        color: #657785;
      }
      .link {
        color: #202529;
      }
      .link:hover {
        color: black;
      }
      .image {
        width: 30px;
        height: 40px;
      }
    </style>

    <title>Röda korset - flöde</title>
  </head>
  <body>
   <div class="container" style="margin-top: 10px;" id ="main">
      <div class="row">
        <div class="col"></div>
        
        <div class="col-lg-6 col-md-12" id="feed">
          
          <div class="row feedTitle">
            <div class="col">
              <h3>Flöde</h3>
            </div>
          </div>
          
          {% for entry in entries %}
            <div class="row entry">
              <div class="col-1">
                  <img class="image" src="{{ entry['path_image'] }}"></img>   
              </div>
              <div class="col-11 ">  
                <div class="row">
                  <div class="col-8">
                    <h5><a class="link" href="{{ entry['information']['orignalSource'] }}">{{ entry["information"]["title"] }}</a></h5>
                  </div>
                  <div class="col-3">
                      <p class="date">{{ entry["datetime_pretty"] }}</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p>{{ entry["information"]["text"] }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <p>
                        {% for keyword in entry["keyWords"] %}
                          <a href="">#{{ keyword["keyWord"] }}</a>
                        {% endfor %}
                      </p>
                    </div>
                </div>
              </div>
            </div>

            <!-- Add space between entries -->
            <div class="row"> 
                <div class="col-12" style="height: 10px;"></div>
            </div>
          {% endfor %}  
        </div>

        <div class="col"></div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>